@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@200;300;400;500;600&display=swap');

.zooContainer {
  background-color: #3b5b98;
}

.zooRow {
  color: #fff;
  font-family: Lato, Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.zooRow > div:nth-child(1) {
  background-color: #4268af;
}

.zooRow > div:nth-child(2) {
  background-color: #3b5b98;
}

.zooRow > div:nth-child(3) {
  background-color: #3b5b98;
}

.zooRow > div:nth-child(4) {
  background-color: #4268af;
}

.zooRow > div:nth-child(5) {
  background-color: #4268af;
}

.zooRow > div:nth-child(6) {
  background-color: #3b5b98;
}

.zooRow > div:nth-child(7) {
  background-color: #3b5b98;
}

.zooRow > div:nth-child(8) {
  background-color: #4268af;
}

.zooRow > div:nth-child(9) {
  background-color: #4268af;
}

.zooRow > div:nth-child(10) {
  background-color: #3b5b98;
}

input {
  width: 100%;
  background-color: #3b5b98;
  color: #fff;
  border: thin solid #4268af;
  font-size: 1rem;
  padding: 0.3rem;
  margin: 0 14px 5px 14px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.257);
  opacity: 1;
  font-weight: bold;
  font-size: 1rem;
}
